<h1> Songs </h1>

<% @songs.each do |s| %>
    <ul>
        <li><%= link_to s.artist_name, artist_path(s.artist) %> - <%= link_to s.title, song_path(s) %></li>
    </ul>
<% end %>

<ul>
    <% @songs.each do |s| %>
        <li><%= link_to "#{s.artist_name} - #{s.title}", song_path(s)%></li>
    <% end %>
</ul>